HELP.md

!.mvn/wrapper/maven-wrapper.jar

src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/docker-compose.yml
src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
src/main/resources/

### VS Code ###
.vscode/
*.log
*.class